@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: blueviolet; font-size: 80px">Welcome!</h1>
    <p style="color: blue; font-size: 20px">Welcome to the jokes Application with built in authentication, search and CRED features! Enjoy exploring this application! </p>
</div>
